//- transclude-content will be removed by controller
.transclude-content(ng-transclude)

md-icon.os-popover__close-icon(ng-click="osPopover.hide()") clear

.os-popover-container(
  layout="row",
  os-popover-background="osPopover.backgroundImage",
  ng-class="{'os-popover--wide': osPopover.isWide(), 'os-popover--left-image': osPopover.hasLeftImage()}"
  ng-style="{width: osPopover.width, height: osPopover.height, 'max-width': osPopover.width, 'max-height': osPopover.height}"
  )
  .os-popover-leftImage(flex, ng-if="osPopover.leftImage")
    img(ng-src="{{ osPopover.leftImage }}", width="142", height="234")

  div(flex, layout="row", layout-align="start none")
    img(ng-if="osPopover.mainImage", ng-src="{{ osPopover.mainImage }}")
    .os-popover-content(
    flex,
    layout="column",
    layout-align="start stretch"
    )
      h1.os-popover-title
        .placeholder-title
      h2.os-popover__subtitle
        .placeholder-subtitle
      div(flex)

//- arrows
.os-popover-arrow

//- action box is transclude into this place
