.os-zoombar
  os-button.os-zoombar-zoomIn(ng-click="osZoombar.zoomIn()")
    md-icon add

  .os-zoombar-scroll(hide-xs)
    .os-zoombar-scroll-wrapper
      input.mdl-slider.mdl-js-slider(
        type="range"
        ng-model="osZoombar.ngModel"
        min="{{ osZoombar.zoomMin }}"
        max="{{ osZoombar.zoomMax }}"
        value="{{ osZoombar.ngModel }}"
        tabindex="-1"
      )

  os-button.os-zoombar-zoomOut(ng-click="osZoombar.zoomOut()")
    md-icon remove
