.os-search(ng-if="!osSearch.searcherHidden")
  .os-search-head(layout="row")
    .os-search-headItem(flex="90")
      input.os-search-query(
        type="search"
        name="{{osSearch.name}}"
        autocomplete="off"
        ng-model="osSearch.searchText"
        placeholder="{{osSearch.placeholder}}"
        ng-focus="osSearch.searchHidden = false"
        ng-keydown="osSearch.keyFromInput($event)"
      )

    .os-search-headItem.os-search__headItem--close(flex="10")
      button.os-search-clear(
        type="button"
        ng-click="osSearch.close()"
      )
        md-icon clear

  .os-search-result(layout="column" ng-if="osSearch.searchText.length > 0 && !osSearch.searchHidden && osSearch.resultsAvailable()")
    .os-search-resultHeaders(layout="row")
      .os-search-resultHeader(
        flex=""
        ng-repeat="(key, column) in osSearch.searchResults"
        ng-if="column.results.length"
        ) {{ column.title }}

    .os-search-resultItems(layout="row")
      .os-search-resultItemsContainer(layout="row")
        .os-search-resultColumn(flex="" ng-repeat="(key, column) in osSearch.searchResults" ng-if="column.results.length")
          .os-search-resultItem(
            ng-repeat="item in column.results"
            )
            .os-search-resultItemColumn(
              ng-click="osSearch.selectResult(item, osSearch.internalSearchProviders[column.providerId].onSelect)"
              data-search-result-index="{{$index}}"
              data-provider-id="{{column.providerId}}"
              tabindex="0"
              ng-keydown="osSearch.keyFromSearchResult($event, result, column.providerId, searchProviders[column.providerId].onSelect)"
            ) {{item.text}}
